body {
  font-size: 12px;
}

* {
  margin: 0;
  padding: 0;
}

#chart1 {
  height: 30vh;
  margin-bottom: 3vh;
  margin-top: 6vh;
  margin-bottom: 2vh;
}

#chart2 {
  height: 30vh;
  margin-bottom: 2vh;
}

#chart3 {
  height: 30vh;
}

#page {
  position: absolute;
  left: 50%;
  top: 0px;
  font-size: 12px;
  transform: translateX(-50%);
}

#wrapper {
  min-height: 30vh;
  padding-top: 10px;
  background-color: azure;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: azure;
  padding: 10px 0;
}

.m-item {
  padding: 5px 0;
}

.item-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.h-item {
  flex: 1;
  text-align: center;
}

.item-bot {
  background-color: aliceblue;
  color: #999;
  text-align: justify;
}

.comments {
  margin: 0 10px;
  padding-bottom: 10px;
  color: chocolate;
  display: none;
}

.remark {
  margin: 0 10px;
  padding-bottom: 20px;
  display: none;
}

.all .comments,
.all .remark {
  display: block;
}

.show-comments .comments {
  display: block;
}

.show-remark .remark {
  display: block;
}

.item-header {
  padding: 10px;
  background-color: aquamarine;
  font-size: 16px;
}

.item-header span {
  font-size: 12px;
}

.mark {
  color: chocolate;
  position: relative;
}

.chocolate {
  color: chocolate;
}

.asc .mark::after {
  content: '↑';
}

.desc .mark::after {
  content: '↓';
}

.review {
  margin: 10px;
  padding: 10px;
  line-height: 1.5;
  border: 1px dashed #999;
  border-radius: 5px;
  text-indent: 26px;
  font-size: 13px;
  text-align: justify;
}

.review .review-header {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  text-indent: 0;
}